.container-primary {
  padding: 4%;
}

img {
  width: 40px;
}

.text-1 {
  text-align: justify;
  color: black;
  font-family: Futura, Trebuchet MS, sans-serif;
  padding-top: 20px;
}

.title-1 {
  text-align: left;
  color: #333442;
  font-family: Futura, Trebuchet MS, sans-serif;
  border-bottom: 1px solid #c0c0c2;
}