.container-primary {
  padding: 4%;
}

img {
  width: 40px;
}

.text-1 {
  text-align: justify;
  color: #333442;
  font-family: Futura, Trebuchet MS, sans-serif;
  padding-top: 20px;
  font-size: 17px;
}

.title-1 {
  text-align: left;
  color: #333442;
  font-family: Futura, Trebuchet MS, sans-serif;
  border-bottom: 1px solid #c0c0c2;
}

.modal-text {
  padding-bottom: 1px;
  color: #333442;
  font-family: Futura, Trebuchet MS, sans-serif;
  font-size: 17px;
}

.modal-title {
  color: #333442;
  font-family: Futura, Trebuchet MS, sans-serif;
}

.btn-secondary {
  background: #333442;
  float: right;
}

a {
  color: #333442;
  text-decoration: none;
}

a:active {
  color: #333442;
}
