<!-- FontAwesome Modificar-->
<div class="container container-primary">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>
    <br><br><br><br>
    <h1 class="title-1">{{'Contacto' | uppercase}}</h1>
  <div class="div-primary">
  <div class="row text-1 align-items-center">
    <div class="col-sm">
      <p><i class="fas fa-phone"></i> 0351 - 4836997</p>
        <p><i class="fas fa-envelope"></i> estudiocontablepsp@gmail.com</p>
        <p><i class="fas fa-map-pin"></i> Obispo Fajardo N° 1881 - Planta Alta <br> Barrio Ayacucho - Córdoba - R.A.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2864.3188478149973!2d-64.1760155610256!3d-31.379163319710102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943299240073998d%3A0xcb74bd57e82b2bff!2sEstudio%20Contable%20Penzo%20Semcoff!5e0!3m2!1ses-419!2sar!4v1608298408741!5m2!1ses-419!2sar" width="350" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-sm">
      <form (ngSubmit)="contactForm(form.value)" #form="ngForm" name="FormReg" [formGroup]='FormContacto' class="bg-light">
        <div class="form-group column">
            <input type="nombre" class="form-control" formControlName="Nombre" 
            [ngClass]="{'is-invalid': (FormContacto.controls.Nombre.touched || submitted)  
            && FormContacto.controls.Nombre.errors}" name="nombre" placeholder="Nombre (Obligatorio)" ngModel/>
            <span class="text-danger" *ngIf="(FormContacto.controls.Nombre.touched || submitted) 
                      && FormContacto.controls.Nombre.errors?.required">
                  Dato requerido.
              </span>
              <span class="text-danger" *ngIf="(FormContacto.controls.Nombre.touched || submitted) 
                      && (FormContacto.controls.Nombre.errors?.minlength || FormContacto.controls.Nombre.errors?.maxlength) ">
                  Dato texto, 4 a 55 caracteres.
              </span>
          </div>
        <div class="form-group column">
          <input type="asunto" class="form-control" name="asunto" placeholder="Asunto" ngModel> 
        </div>
        <div class="form-group column">
          <input type="email" class="form-control" formControlName="Email" 
            [ngClass]="{'is-invalid': (FormContacto.controls.Email.touched || submitted)  
            && FormContacto.controls.Email.errors}" name="email" placeholder="Email (Obligatorio)" ngModel/>
            <span class="text-danger" *ngIf="(FormContacto.controls.Email.touched || submitted) 
                      && FormContacto.controls.Email.errors?.required">
                  Dato requerido.
              </span>
              <span class="text-danger" *ngIf="(FormContacto.controls.Email.touched || submitted) 
                      && (FormContacto.controls.Email.errors?.minlength || FormContacto.controls.Email.errors?.maxlength) ">
                  Dato texto, 4 a 55 caracteres.
              </span>
        </div>
        <div class="form-group column">
            <textarea class="form-control" rows="10" name="mensaje" placeholder="Mensaje" ngModel></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Enviar</button>
      </form>
    </div>
  </div>
  </div>
  </div>