<div class="container container-primary">
  <br><br><br><br>
    <div class="row align-items-center">
      <div class="col-sm-8">
        <h1 class="title-1">{{'Filosofía de Trabajo' | uppercase}}</h1>
        <p class="text-1">Tenemos como <strong>misión</strong>: Brindar soluciones a las necesidades de nuestros clientes teniendo en cuenta los conocimientos adquiridos en materia de procesos contables, impositivos y laborales; logrando y alcanzando de esta manera grados de excelencia para las empresas e individuos...
          <br>Tenemos como <strong>visión</strong>: Ser líderes de los servicios profesionales que brindamos y articular los mismos con los procesos de negocios llevados a cabo por las empresas de todo el país
          siendo nuestros valores el conocimiento, la aptitud y la experiencia.
          <br>Somos conscientes de que la práctica y la experiencia, nos han permitido ser hoy un estudio contable donde nuestro pilar fundamental es orientar al cliente y lograr un verdadero mejoramiento de su organización, permitiendo así un respaldo y acompañamiento en cada etapa de su crecimiento empresario.              
        </p> 
      </div>
      <div class="col-sm-4">
        <img src="../../../assets/work.jpg" alt="">
      </div>
    </div>
    <div class="border">
      <ul>
        <li class="text-1">
          <strong>Conocimiento</strong>: nos basamos en los conocimientos adquiridos, para brindar siempre lo mejor en materia de soluciones a las necesidades de nuestros clientes.
        </li>
        <li class="text-1">
          <strong>Aptitud</strong>: bajo la gran presión competitiva que se establece hoy en día en el mercado, nuestro equipo trabaja con la mejor aptitud para así obtener el resultado y calidad esperados en la prestación de nuestros servicios.
        </li>
        <li class="text-1">
          <strong>Experiencia</strong>: nuestra trayectoria y transparencia, nos han dado la experiencia necesaria para que nuestro cliente no tenga duda alguna ante la prestación de nuestros servicios.
        </li>
      </ul>
    </div>
  </div>