<div class="div-primary">
  <h1 class="title-2">{{'Sobre Nosotros' | uppercase}}</h1>
    <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-8">
            <h1 class="title-1">{{'Filosofía de Trabajo' | uppercase}}</h1>
            <p class="text-1">Al frente del Estudio Contable, Magister en Dirección de Negocios, Contador Público Nacional Matriculado en el Consejo Profesional de Ciencias Económicas de Córdoba, con amplia experiencia obtenida en Estudios Contables, en sectores de Auditoría, Liquidaciones Impositivas, Armado y Confección de Estados Contables, entre otras; a su vez trabajo en relación de dependencia en Bancos de primera línea en el área de Crédito y Legales, fue jefe de área de Cobranzas y del área de Tesorería en PyMES.
            </p> 
          </div>
          <div class="col-sm-4">
            <img src="../../../assets/filosofia.jpg" alt="">
          </div>
        </div>
    </div>
</div>
