.container-primary {
  padding: 5%;
}

.title-1 {
  text-align: left;
  color: #333442;
  font-family: Futura, Trebuchet MS, sans-serif;
  padding-bottom: 5px;
  border-bottom: 1px solid #c0c0c2;
}

.text-1 {
  text-align: justify;
  color: #333442;
  font-family: Futura, Trebuchet MS, sans-serif;
  font-size: 20px;
  padding-top: 20px;
}

img {
  align-self: right;
  width: 100%;
  padding-left: 0px;
}

.border {
  background-color: #eaeaee;
  padding: 10px;
  padding-right: 20px;
}

.row {
  padding-bottom: 20px;
}

.border-1 {
  padding-top: 15px;
}