<div class="container container-primary">
    <br><br><br><br>
    <h1 class="title-1">{{'Nuestros Clientes' | uppercase}}</h1>
        <div class="card-columns">
            <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Empresas Financieras</p>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Empresas de Construcción</p>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Organizaciones sin fines de lucro</p>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Empresas Industriales</p>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Empresas Comerciales</p>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Empresas de Servicios</p>
              </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                  <p class="card-text">Inmobiliarias</p>
                </div>
              </div>
              <div class="card bg-light">
                <div class="card-body text-center">
                  <p class="card-text">Profesionales</p>
                </div>
              </div>
              <div class="card bg-light">
                <div class="card-body text-center">
                  <p class="card-text">Y muchos mas!!</p>
                </div>
              </div>     
          </div>    
</div>

