<div class="container container-primary">
  <br><br><br><br>
  <h1 class="title-1">{{'Nuestros Clientes' | uppercase}}</h1>
  <p class="text-1"> Nuestra cartera de clientes esta compuesta por:
  </p>
      <div class="card-columns">
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text">Industria Farmacéutica</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text">Empresas Financieras</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text">Empresas de Construcción</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text">Instituciones Educativas</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text">Empresas Industriales</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text">Empresas Comerciales</p>
            </div>
          </div>
          <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Empresas de Servicio</p>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Profesionales e Inmobiliarias</p>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body text-center">
                <p class="card-text">Empresas Agropecuarias</p>
              </div>
            </div>     
        </div>    
</div>

