.div-primary {
  background-color: #333442;
  padding: 50px;
}

div {
  //padding: 0px;
  border: 0px;
  margin: 0px;
}

.container {
  padding: 0px;
}

.col {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.title-1 {
  text-align: left;
  color: white;
  font-family: Futura, Trebuchet MS, sans-serif;
}

.text-1 {
  text-align: left;
  color: white;
  font-family: Futura, Trebuchet MS, sans-serif;
}

hr.divider {
  max-width: 5rem;
  border-width: 0.2rem;
  border-color: #d3ac36;
  max-width: 100%;
  margin: 0px;
}

img {
  align-self: left;
  width: 100%;
  border: 1px solid #000000;
}
