<body>
<div class="container container-primary">
        <div class="row align-items-center">
          <div class="col-sm-4">
            <img src="../../../assets/about.webp" alt="About">
          </div>
          <div class="col-sm-8"><br>
            <h1 class="title-1">{{'Quiénes Somos' | uppercase}}</h1>
            <p class="text-1">Somos un equipo de profesionales competentes, eficientes y responsables en el amplio campo de acción que se demanda.<br> 
              Desde nuestros inicios nos hemos abocado en establecer un camino donde la esencia de nuestros servicios se basa en construir una asociación con nuestros clientes con el fin de promover el crecimiento y desarrollo de sus proyectos, organizaciones y emprendimientos.<br>
              Nuestra impronta radica en llevar adelante una atención personalizada, directa y tendiente a solucionar toda dificultad que se presente de manera expeditiva<br>
              Nos respalda nuestra trayectoria profesional y la confianza que nuestra cartera de clientes siguen depositando en nosotros.
              
            </p>
          </div>
        </div>
</div>
</body>