<div class="container container-primary">
  <br><br><br><br>
        <div class="row align-items-center">
          <div class="col-sm-4">
            <img src="../../../assets/coffee.jpg" alt="">
          </div>
          <div class="col-sm-8"><br>
            <h1 class="title-1">{{'Quiénes Somos' | uppercase}}</h1>
            <p class="text-1">Somos un equipo de profesionales y Contadores Públicos orientados a las distintas actividades desarrolladas por empresas unipersonales, sociedades de hecho, sociedades comerciales, asociaciones sin fines de lucro, fundaciones y fideicomisos (entre otras). Ofrecemos servicios contables, impositivos, societarios, laborales, previsionales y administrativos. 
              Con una atención personalizada, atendemos a cada cliente en forma directa y en el domicilio de sus empresas y en el momento mas apropiado para cada uno.
            </p>
          </div>
        </div>
</div>