<div class="div-primary">
    <h1 class="title-1">{{'Sobre Nosotros' | uppercase}}</h1>
    <hr class="divider my-4"/>
    <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-4">
            <img src="../../../assets/nosotros.webp" alt="">
          </div>
        <div class="col-sm-8">
            <p class="text-1">Al frente del Estudio Contable se encuentra Fernando Peino, Magister en Dirección de Negocios, Contador Público Nacional Matriculado en el Consejo Profesional de Ciencias Económicas de Córdoba (MP 10.19454.0), con amplia experiencia obtenida en Estudios Contables, en sectores de Auditoría, Liquidaciones Impositivas, Armado y Confección de Estados Contables, entre otras; a su vez trabajo en relación de dependencia en Bancos de primera línea en el área de Crédito y Legales, fue jefe de área de Cobranzas y del área de Tesorería en PyMES.
        
                Para alcanzar este objetivo brindamos una atención personalizada, visitándolos periódicamente, atendiendo las inquietudes y verificando continuamente la marcha de su negocio.
            </p>
        </div>
    </div>
</div>
<hr class="divider my-4"/>
