.div-primary {
  background-color: #333442;
  border-top: 3px solid #d3ac36;
  outline: 3px solid #333442;
}

div {
  padding-top: 10px;
  padding-bottom: 0px;
  border: 0px;
  margin: 0px;
}

img {
  width: 160px;
  //centrar imagen
  display: block;
  margin: auto;
}

.text-1 {
  text-align: justify;
  color: white;
  font-family: Futura, Trebuchet MS, sans-serif;
  font-size: 17px;
}

.column {
  padding-bottom: 10px;
}

.right {
  float: right;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:active {
  color: whitesmoke;
}
