<!-- FontAwesome Modificar-->
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<div class="div-primary">
<div class="row text-1">
    <div class="col-sm">
        <img src="./../../../assets/logo.png" alt="">
    </div>
    <div class="col-sm">
        <p><i class="fas fa-phone"></i>  3516871099 </p>
    </div>
    <div class="col-sm">
        <p><i class="fas fa-envelope"></i>  estudiocontableps@gmail.com</p>
    </div>
    <div class="col-sm">
        <p><i class="fas fa-map-pin"></i>  Fajardo 1881, Cordoba</p>
    </div>
</div>
</div>