.div-primary {
  background-color: #333442;
  padding: 50px;
}

div {
  //padding: 0px;
  border: 0px;
  margin: 0px;
}

img {
  width: 40px;
}

.text-1 {
  text-align: justify;
  color: white;
  font-family: Futura, Trebuchet MS, sans-serif;
}
