<!-- FontAwesome Modificar-->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<div class="div-primary">
<div class="row text-1">
  <div class="col-sm">
      <img src="./../../../assets/footer.png" alt="" class="column">
  </div>
  <div class="col-sm">
    <p> <strong>{{ "Contacto" | uppercase }}</strong></p>
    <p><i class="fas fa-phone"></i>  0351 - 4836997  </p>
      <p><i class="fas fa-envelope"></i>  estudiocontablepsp@gmail.com</p>
      <p><i class="fas fa-map-pin"></i>  Obispo Fajardo N° 1881 - Planta Alta <br> Barrio Ayacucho - Córdoba - R.A.</p>
  </div>
  <div class="col-sm right">
      <p> <strong>{{ "Servicios" | uppercase }}</strong></p>
      <p routerLink="/impositivo"style="cursor:pointer;" >Impositivo</p>
      <p routerLink="/contabilidad" style="cursor:pointer;">Contabilidad y Auditoría</p>
      <p routerLink="/laboral" style="cursor:pointer;">Laboral y Previsional</p>
  </div>
</div>
</div>
