<!-- FontAwesome Modificar-->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<div class="div-primary">
<div class="row text-1">
  <div class="col-sm">
      <img src="./../../../assets/footer.webp" alt="Footer" class="column">
  </div>
  <div class="col-sm">
    <p><strong>{{ "Contacto" | uppercase }}</strong></p>
    <p><i class="fas fa-phone"></i><a href="tel: 0351 - 4836997"> 0351 - 4836997</a></p>
    <p><i class="fab fa-whatsapp"></i><a href="https://api.whatsapp.com/send?phone=+5493516577057&text=Hola!%20Quiero%20hacer%20una%20consulta" target="blank"> Envíanos un mensaje de WhatsApp</a></p>
    <p><i class="fas fa-envelope"></i>  estudiocontablepsp@gmail.com</p>
    <p><i class="fas fa-map-pin"></i><a href="https://www.google.com/maps/place/Estudio+Contable+Penzo+Semcoff/@-31.3790017,-64.1764555,17z/data=!3m1!4b1!4m5!3m4!1s0x943299240073998d:0xcb74bd57e82b2bff!8m2!3d-31.3790017!4d-64.1742668" target="blank"> Obispo Fajardo N° 1881 - Planta Alta <br> Barrio Ayacucho - Córdoba - R.A. </a></p>
  </div>
  <div class="col-sm right">
    <p><strong>{{ "Servicios" | uppercase }}</strong></p>
    <a class="cursor" routerLink ="/impositivo"><p>Impositivo</p></a>
    <a routerLink="/contabilidad"><p>Contabilidad y Auditoría</p></a>
    <a routerLink="/laboral"><p>Laboral y Previsional</p></a>
  </div>
</div>
</div>
