.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border-bottom: 2px solid #d3ac36;
  background-color: #333442 !important;
  font-family: Futura, Trebuchet MS, sans-serif;
}

.dropdown-toggle::after {
  display: none;
}

img {
  width: 40px;
}
