.title-1 {
  font-family: Futura, Trebuchet MS, sans-serif;
  font-size: 35px;
  text-align: left; 
}

.text-1 {
  font-family: Futura, Trebuchet MS, sans-serif;
  font-size: 25px;
  text-align: left;
  
}

img {
  filter: brightness(65%);
}

.carousel-caption {
  right: 50%;
  transform: translateY(-20%);
}