<body>
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
    <br><br><br><br>
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
                 <picture>
                  <source srcset="https://i.ibb.co/VHdzG55/IMG-7236.jpg" media="(min-width: 1400px)">
                  <source srcset="https://i.ibb.co/VHdzG55/IMG-7236.jpg" media="(min-width: 769px)">
                  <source srcset="https://i.ibb.co/VHdzG55/IMG-7236.jpg" media="(min-width: 577px)">
                  <img srcset="https://i.ibb.co/HBbRZDL/estudio700-1000.png" alt="responsive image" class="d-block img-fluid">
                </picture>
                <div class="carousel-caption">
                  <h5 class="title-1"><strong>{{'Bien ser' | uppercase}}</strong></h5>
                  <p class="text-1 d-none d-sm-none d-md-block">Implica actuar con honestidad, responsabilidad, y disciplina en el trabajo.</p>
                </div>
        </div>
        <div class="carousel-item">
                 <picture>
                  <source srcset="https://i.ibb.co/G5kyKMR/recorte.jpg" media="(min-width: 1400px)">
                  <source srcset="https://i.ibb.co/G5kyKMR/recorte.jpg" media="(min-width: 769px)">
                  <source srcset="https://i.ibb.co/G5kyKMR/recorte.jpg" media="(min-width: 577px)">
                  <img srcset="https://i.ibb.co/bgRx4ZF/carpeta700-1000.png" alt="responsive image" class="d-block img-fluid">
                </picture>
                <div class="carousel-caption">
                  <h5 class="title-1"><strong>{{'Bien hacer' | uppercase}}</strong></h5>
                  <p class="text-1 d-none d-sm-none d-md-block">Desempeñar el trabajo de forma correcta desde un principio.</p>
                </div>
        </div>
        <div class="carousel-item">
                 <picture>
                  <source srcset="https://i.ibb.co/3WpbF53/afb4011a7d36c5abcea98f33871af88e.jpg" media="(min-width: 1400px)">
                  <source srcset="https://i.ibb.co/34Q1rGk/afb4011a7d36c5abcea98f33871af88e-1.jpg" media="(min-width: 769px)">
                  <source srcset="https://i.ibb.co/34Q1rGk/afb4011a7d36c5abcea98f33871af88e-1.jpg" media="(min-width: 577px)">
                  <img srcset="https://i.ibb.co/NxLS5dt/700-1000-R.png" alt="responsive image" class="d-block img-fluid">
                </picture>
                <div class="carousel-caption">
                <h5 class="title-1"><strong>{{'Bien estar' | uppercase}}</strong></h5>
                <p class="text-1 d-none d-sm-none d-md-block">Significa dar más de lo que se recibe y es sinónimo de felicidad porque diste lo mejor de tí a todas las personas con la que tuviste la fortuna de tratar.</p>
                </div>
        </div>
        <div class="carousel-item">
          <picture>
            <source srcset="https://i.ibb.co/KqWxHzs/IMG-7199.jpg" media="(min-width: 1400px)">
            <source srcset="https://i.ibb.co/yYZXwWf/1400-800-C.png" media="(min-width: 769px)">
            <source srcset="https://i.ibb.co/yYZXwWf/1400-800-C.png" media="(min-width: 577px)">
            <img srcset="https://i.ibb.co/N1Xd33F/700-1000.png" alt="responsive image" class="d-block img-fluid">
         </picture>
         <div class="carousel-caption">
         <h5 class="title-1"><strong>{{'Bien tener' | uppercase}}</strong></h5>
         <p class="text-1 d-none d-sm-none d-md-block">No busquen tener el bien rápido y fácil sin hacerlo bien y mucho menos sin sentirlo bien, es el resultado de desarrollar los tres pasos anteriores.</p>
         </div>
         </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</body>
