<div class="container container-primary">
    <br><br><br><br>
    <h1 class="title-1">{{'Contabilidad y Auditoría' | uppercase}}</h1>
    <div class="border">
    <ul>
        <li>
            Planificación y diseño de sistema contable 
        </li>
        <li>
            Contabilización de las transacciones de la Sociedad.
        </li>
        <li>
            Análisis de la información procesada.
        </li>
        <li>
            Emisión de balance anual y cumplimiento de normas legales vigentes.
        </li>
        <li>
            Análisis de estados Contables.
        </li>
        <li>
            Informes Especiales. 
        </li>
        <li>
            Trascripción de las operaciones en los libros legales vigentes.
        </li>
        <li>
            Asesoramiento en la constitución de directorios: cantidad de directores, duración en el cargo, votación, directores suplentes, responsabilidades, remuneraciones y todo los que haga al funcionamiento de este órgano societario tanto Sociedades Anónimas o Sociedades de Responsabilidad Limitadas y otro tipo de sociedades reguladas.
        </li>
        <li>
            Asesoramiento respecto a las Asambleas, ordinarias, extraordinarias y especiales.
        </li>
        <li>
            Auditoria  y revisiones limitadas De Estados Contables para su certificación.
        </li>
    </ul>
    </div>
</div>