<div class="container container-primary">
    <br><br><br><br>
    <h1 class="title-1">{{'Laboral y previsional' | uppercase}}</h1>
    <div class="border">
    <ul>
        <li>
            Altas, bajas, modificaciones de datos de empleados.
        </li>
        <li>
            Liquidación de Sueldos y jornales.
        </li>
        <li>
            Liquidación y confección de DDJJ laborales, previsionales y sindicales.
        </li>
        <li>
            Confección, administración y auditoria de legajos laborales.
        </li>
        <li>
            Regímenes especiales (Construcción, Rurales, Domésticos, Etc.).
        </li>
        <li>
            Tareas de asesoría respecto de la aplicación de la normativa previsional y laboral y novedades legislativas y reglamentarias.
        </li>
        <li>
            Análisis de las modalidades de contratación de personal. Alternativas y ventajas previstas en el Régimen Previsional Argentino para directores, expatriados y otras modalidades.
        </li>
        <li>
            Asistencia en la determinación de la aplicación de los distintos regímenes de retención existentes en materia previsional.
        </li>
        <li>
            Asistencia en oportunidad de inspecciones de los distintos organismos de Fiscalización.
        </li>
        <li>
            Asistencia en los procesos de fusiones y adquisiciones y transferencias de personal.
        </li>
        <li>
            Asistencia en el control del cumplimiento de las obligaciones laborales y previsionales por parte de contratistas respecto de los empleados asignados a nuestros clientes.
        </li>
        <li>
            Revisión de los procedimientos de control implementados por las empresas contratantes.
        </li>
        <li>
            Auditorías laborales.
        </li>
        <li>
            Pericias laborales.
        </li>
    </ul>
    </div>
</div>
