<!--Cards-->
<div class="div-primary">
  <h1 class="title-2">{{'Servicios' | uppercase}}</h1>
<div class="title-move">
  <h1 class="title-1">{{'Servicios' | uppercase}}</h1>
</div>
<div class="card-deck">
    <div class="card zoom" routerLink="/impositivo" >
      <img class="card-img-top" src="../../../assets/nosotros.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Impositivo</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card zoom" routerLink="/contabilidad">
      <img class="card-img-top" src="../../../assets/nosotros.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Contabilidad y Auditoría</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card zoom" routerLink="/laboral">
      <img class="card-img-top" src="../../../assets/nosotros.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Laboral y Previsional</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>

