<!--Cards-->
<body>
<div class="container container-primary">
    <h1 class="title-1">{{'Servicios' | uppercase}}</h1>
  <div class="card-deck">
      <div class="card zoom" routerLink="/impositivo" >
        <img class="card-img-top" src="../../../assets/impositivo.webp" alt="Impositivo">
        <div class="card-body">
          <h5 class="card-title"><strong>Impositivo</strong></h5>
          <p class="card-text">Asesoramiento sobre impuestos nacionales, provinciales y municipales, informes en materia fiscal...</p>
        </div>
      </div>
      <div class="card zoom" routerLink="/contabilidad">
        <img class="card-img-top" src="../../../assets/contabilidad.webp" alt="Contabilidad">
        <div class="card-body">
          <h5 class="card-title"><strong>Contabilidad y Auditoría</strong></h5>
          <p class="card-text">Planificación y diseño de sistema contable Contabilización de las transacciones de la Sociedad...</p>
        </div>
      </div>
      <div class="card zoom" routerLink="/laboral">
        <img class="card-img-top" src="../../../assets/laboral.webp" alt="Laboral">
        <div class="card-body">
          <h5 class="card-title"><strong>Laboral y Previsional</strong></h5>
          <p class="card-text">Altas, bajas, modificaciones de datos de empleados. Liquidación de Sueldos y Jornales...</p>
        </div>
      </div>
    </div>
  </div>
</body>