.container-primary {
  padding: 4%;
}

.title-1 {
  text-align: left;
  color: #333442;
  font-family: Futura, Trebuchet MS, sans-serif;
  border-bottom: 1px solid #c0c0c2;
}

.zoom:hover {
  transform: scale(
    1.05
  );
}

p {
  text-align: justify;
}

.card-deck {
  padding-top: 10px;
}