<div class="container container-primary">
    <br><br><br><br>
    <h1 class="title-1">{{'Impositivo' | uppercase}}</h1>
    <div class="border">
    <ul>
        <li>
            Asesoramiento sobre impuestos nacionales, provinciales y municipales, informes en materia fiscal (Inscripciones Altas Bajas Modificaciones).
        </li>
        <li>
            Liquidación y confección de DDJJ para personas físicas y Jurídicas.
        </li>
        <li>
            Asistencia en oportunidad de inspecciones de los distintos organismos de Fiscalización.
        </li>
        <li>
            Control del cumplimiento de las normas de facturación y registración.
        </li>
        <li>
            Atención permanente de modo telefónico, mail o vía Chat con nuestros especialistas para resolver en el momento las dudas que se produzcan, para la toma de decisiones.
        </li>
        <li>
            Análisis y control de las operaciones de la Empresa, para verificar que se esté dando cumplimiento a la aplicación de los diversos regímenes de retención y percepción que tienen establecidos los organismos recaudadores (Retenciones / percepciones efectuadas y sufridas por la empresa a proveedores y clientes).
        </li>
        <li>
            Tramitación de distintos tipos de subsidios y exenciones a nivel nacional, provincial y municipal. Regímenes y registros especiales.
        </li>
        <li>
            Cuarta Categoría: Elaboración de Declaraciones Juradas informativas de Ganancias y bienes personales y carga de Siradig (F .572 Web).
        </li>
        <li>
            Auditorias  Impositivas, a través de la definición o del hecho imponible, su tratamiento frente a la Dependencia de Recaudación, Regímenes Informativas, su cumplimento, documentación de respaldo.
        </li>
    </ul>
    </div>
</div>
